* {
  margin: 0 auto;
  padding: 0;
}

body {
  font-size: 1em; /*1em = 16px*/
  max-width: 1920px;
}

a:link {
  color: #000;
  border-bottom: solid #000 .10em;
  text-decoration: none;
}

a:visited {
  color: #000;
  border-bottom: solid #000 .10em;
  text-decoration: none;
}

a:hover {
  color: #FE12E7;
  border-bottom: solid #FE12E7 .10em;
  text-decoration: none;
}

a:active {
  color: #000;
  border-bottom: solid #000 .10em;
  text-decoration: none;
}

header {
  flex-wrap: wrap;
}

h2 {
  font-size: 3em;
  color: #57ECFE;
  font-family: 'Roboto Slab', serif;
  font-weight: bolder;
  opacity: 0.5;
}

h4 {
  font-size: .9em;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  padding: 1em 0 0 0;
}

h1 {
  font-size: 6.35em;
  font-family: 'Roboto Slab', serif;
  color: #FE12E7;
  font-weight: lighter;
}

h3 {
  font-size: 1.5em;
  font-family: 'Nunito Sans Black', sans-serif;
  background-color: #57ECFE;
  opacity: .75;
  color: #fff;
  padding: .65em 2em .65em 2.25em;
}

h5 {
  font-size: 1.5em;
  font-family: 'georgia', serif;
  color: #fff;
  padding: 1em 0;
}

h6 {
  font-size: .75em;
  font-family: 'georgia', serif;
  color: #fff;
  padding: .25em 0;
  width: 50%;
  font-weight: lighter;
  padding: 3em;
  line-height: 2em;
  text-decoration: none;
  border: none;
}

h6 a:link {
  font-family: 'georgia', serif;
  color: #fff;
  padding: .25em 0;
  width: 50%;
  font-weight: lighter;
  line-height: 2em;
  text-decoration: none;
  border-bottom: solid #fff .02em;
}

h6 a:visited {
  font-family: 'georgia', serif;
  color: #fff;
  padding: .25em 0;
  width: 50%;
  font-weight: lighter;
  line-height: 2em;
  text-decoration: none;
  border-bottom: solid #fff .02em;
}

h6 a:hover {
  font-family: 'georgia', serif;
  color: #fff;
  padding: .25em 0;
  width: 50%;
  font-weight: lighter;
  line-height: 2em;
  text-decoration: none;
  border: none;
  border-bottom: solid #fff .02em;
  opacity: 0.75;
}

h6 a:active {
  font-family: 'georgia', serif;
  color: #fff;
  padding: .25em 0;
  width: 50%;
  font-weight: lighter;
  line-height: 2em;
  text-decoration: none;
  border-bottom: solid #fff .02em;
}

img {
  height: auto;
  padding: 3.45em;
  width: 90%;
}

footer {
  padding: 12em 0;
  display: inline-block;
  background-color: #FE12E7;
  color: #fff;
  font-family: 'Roboto Slab', serif;
  font-size: 1em;
  width: 100%;
  text-align: center;
  text-decoration: none;
}

footer a:link {
  color: #fff;
  border-bottom: solid #fff .02em;
  text-decoration: none;
  background-color: #FE12E7;
}

footer a:visited {
  color: #fff;
  border-bottom: solid #fff .02em;
  text-decoration: none;
  background-color: #FE12E7;
}

footer a:hover {
  color: #000;
  border-bottom: solid #000 .02em;
  text-decoration: none;
  background-color: #FE12E7;
}

footer a:active {
  color: #fff;
  border-bottom: solid #fff .02em;
  text-decoration: none;
  background-color: #FE12E7;
}

.intro {
  float: right;
  border: .10em solid #FE12E7;
  padding: 1.25em;
  border-radius: .125em;
  font-family: 'Roboto Slab', serif;
  font-size: .80em;
  margin: 2.5em 6em .5em 9em; 
}

.parent4 img {
  width: 80%;
  height: auto;
}

.p2 {
  font-size: 1em;
  font-family: 'Nunito Sans', sans-serif;
  color: #000;
  line-height: 2em;
  text-align: left;
  padding-left: 3.5em;
}

.p2 a:link {
  font-size: 1em;
  font-family: 'Nunito Sans', sans-serif;
  color: #000;
  line-height: 2em;
  text-align: left;
  text-decoration: none;
  border: none;
}

.wrapper {
  padding: 0 6em 8em 6em;
  margin: 0 auto;
}

.wrapper2 {
  padding: 7em 5em 1em 8em;
  margin: 0em auto;
}

.wrapper3 {
  padding: 2em 5em 2em 5em;
  margin: 0em auto;
  background-color: #FE12E7;
}

.h32 {
  font-size: 1.5em;
  font-family: 'Nunito Sans Black', sans-serif;
  background-color: #57ECFE;
  opacity: .75;
  color: #fff;
  padding: .65em 1.5em;
  text-align: center;
}

.parent3 h3 {
  font-size: 1.5em;
  font-family: 'Nunito Sans Black', sans-serif;
  background-color: #fff;
  opacity: .75;
  color: #57ECFE;
  padding: .65em 1.5em;
}

.next {
  color: #FE12E7;
  font-family: 'georgia', serif;
  font-size: 2em;
  padding: .50em 0 0 2.25em;
  font-weight: bolder;
}

.cardcopy-justify-2 {
  font-size: 1em;
  font-family: 'Nunito Sans', sans-serif;
  color: #000;
  line-height: 2em;
  text-align: justify;
  padding: 2em 5em .5em 4.45em;
}

.cardcopy-bottompadding {
  font-size: 1em;
  font-family: 'Nunito Sans', sans-serif;
  color: #000;
  line-height: 2em;
  padding: 3em 6em 0 6em;
  text-align: justify;
}

.cardcopy-justify {
  font-size: 1em;
  font-family: 'Nunito Sans', sans-serif;
  color: #000;
  line-height: 2em;
  padding: 3em 6em 9.8em 6em;
  text-align: justify;
}


.f1{
  line-height: 2em;
  display: inline-block;
  color: #fff;
  font-family: 'Roboto Slab', serif;
  font-size: 1em;
  text-align: center;
  margin: 2.5em;
  font-weight: 400;
}

.parent3p {
  font-size: 1em;
  font-family: 'Nunito Sans', sans-serif;
  color: #fff;
  line-height: 2em;
  text-align: center;
  width: 80%;
}

.p1 {
  font-size: 1em;
  font-family: 'Nunito Sans', sans-serif;
  color: #FE12E7;
  line-height: 2em;
  text-align: left;
  padding: 2em 0 0 3.5em;
  font-weight: bold;
}

.p1 a:link {
  font-size: 1em;
  font-family: 'Nunito Sans', sans-serif;
  color: #FE12E7;
  line-height: 2em;
  text-align: left;
  font-weight: bold;
  text-decoration: none;
  border-bottom: solid #FE12E7 .10em;
}

.p1 a:hover {
  font-size: 1em;
  font-family: 'Nunito Sans', sans-serif;
  color: #000;
  line-height: 2em;
  text-align: left;
  font-weight: bold;
  text-decoration: none;
  border-bottom: solid #FE12E7 .10em;;
  opacity: 0.5;
}

.p1 a:visited {
  font-size: 1em;
  font-family: 'Nunito Sans', sans-serif;
  color: #FE12E7;
  line-height: 2em;
  text-align: left;
  font-weight: bold;
  text-decoration: none;
  border-bottom: solid #FE12E7 .10em;;
}

.p1 a:active {
  font-size: 1em;
  font-family: 'Nunito Sans', sans-serif;
  color: #FE12E7;
  line-height: 2em;
  text-align: left;
  font-weight: bold;
  text-decoration: none;
  border-bottom: solid #FE12E7 .10em;
}

.parent1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.10), 0 1px 2px rgba(0,0,0,0.10);
  display: block;
  width: 62%;
  float: left;
  height: auto;
  margin: 2.5%;
}

.parent2 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.10), 0 1px 2px rgba(0,0,0,0.10);
  display: block;
  float: left;
  height: auto;
  margin: 2.5% 2.5% 2.5% 2.5%;
  padding-bottom: 5.75em;
}

.parent3 {
  display: block;
  height: auto;
  text-align: center;
  padding: 5em 0;
  width: 50%;
  background-color: #FE12E7;
}

.h3v2 {
  font-size: 1.5em;
  font-family: 'Nunito Sans Black', sans-serif;
  opacity: .75;
  color: #fff;
  padding: .65em 1.5em;
}

.parent4 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.10), 0 1px 2px rgba(0,0,0,0.10);
  display: block;
  float: left;
  height: auto;
  width: 45%;
  margin: 0 2.5%;
}

.parent5 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.10), 0 1px 2px rgba(0,0,0,0.10);
  display: block;
  float: left;
  height: auto;
  width: 45%;
  margin: 0 2.5%;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.h3link a:link {
  font-family: 'Nunito Sans Black', sans-serif;
  color: #fff;
  padding: .65em 0;
  text-decoration: none;
  border: none;
}

.h3link a:hover {
  font-family: 'Nunito Sans Black', sans-serif;
  opacity: .75;
  color: #000;
  padding: .65em 0;
  text-decoration: none;
  border: none;
}

.h3link a:visited {
  font-family: 'Nunito Sans Black', sans-serif;
  padding: .65em 0;
  text-decoration: none;
  border: none;
  color: #fff;
}

.h3link a:active {
  font-family: 'Nunito Sans Black', sans-serif;
  color: #fff;
  padding: .65em 0;
  text-decoration: none;
  border: none;
}

.rapper {
  padding: 9em;
 }

@media only screen and (max-width: 1204px) and (min-width:1150px){
/*    body {
    background-color: silver;
  }*/

  h1 {
    font-size: 6em;
  }

  .parent2 {
    padding-bottom: 3.75em;
  }

  .cardcopy-justify {
    padding:3em 6em 3.20em 6em;
  }

  img {
    padding:3.15em 3.65em;
    width: 85%;
  }

  .parent4 img {
    width: 85%;
    height: auto;
  }
}

@media only screen and (max-width: 1150px) and (min-width:1120px){
/*    body {
    background-color: pink;
  }*/

  h1 {
    font-size: 5.85em;
  }

  h3 {
    font-size: 1.45em;
  }

   img {
    padding: 6.4em 3em;
    width: 85%;
  }

  .parent2 {
    padding-bottom: 6em;
  }

   .cardcopy-justify {
    padding:3em 4em 3.5em 4em;
  }

  .cardcopy-bottompadding {
    padding: 3em 4em 0 4em;
  }
}

@media only screen and (max-width: 1120px) and (min-width: 900px){

  h1 {
    font-size: 4.25em;
  }

  h4 {
    font-size: .8em;
  }

  h3 {
    font-size: 1em;
  }

   img {
    padding: 3em;
    width: 85%;
  }

  .cardcopy-bottompadding {
    padding: 3em 2em 0 2em;
  }

  .parent2 {
    padding-bottom: 1em;
  }

   .cardcopy-justify {
    padding:3em 2em 1.7em 2em;
  }

  .parent4 img {
    width: 75%;
    height: auto;
  }

   .cardcopy-justify-2 {
    padding: 2em 2em 2em 2em;
  }

  .next {
    padding: 0 0 0 1.5em;
    font-size: 1.5em;
  }

  .p1 {
    padding: 2em 0 0 1.5em;
    font-size: 1em;
  }

  .p2 {
    padding:.25em 0 0 1.5em;
    font-size: 1em;
  }

  .parent3 {
    width: 70%;
  }

  .f1{
    line-height: 2em;
    display: block;
    color: #fff;
    font-family: 'Roboto Slab', serif;
    font-size: 1em;
    text-align: center;
    margin: 3em;
    font-weight: 400;
  }
}

@media only screen and (max-width: 900px) and (min-width: 700px){

  h1 {
    font-size: 5em;
  }

  h2 {
    font-size: 2.5em;
  }

  h4 {
    font-size: 1.25em;
  }

  .f1{
    line-height: 2em;
    color: #fff;
    font-family: 'Roboto Slab', serif;
    font-size: 1em;
    text-align: center;
    margin: 3em;
    font-weight: 400;
    display: block;
  }

  .parent1 {
    float: none;
    width: 100%;
    height: auto;
    margin-bottom: 5em;  
  }

  .parent2 {
    float: none;
    width: 100%;
    height: auto;
    margin-bottom: 3em; 
    padding-bottom: 2em;
  }

  .parent3 {
    float: none;
    width: 100%;
    height: auto;
  }

  .parent4 {
    float: none;
    width: 100%;
    height: auto;
    margin-bottom: 3em; 
  }

  .parent5 {
    float: none;
    width: 100%;
    height: auto;
    margin-bottom: .5em; 
  }

  h3 {
    font-size: 1.75em;
    text-align: center;
  }

  .h3v2 {
    font-size: 1.75em;
  }

  img {
    padding: 1em;
    width: 95%;
  }

  .cardcopy-bottompadding {
    padding: 3em 2em 0 2em;
  }

  .parent2 {
    padding-bottom: 1em;
  }

   .cardcopy-justify {
    padding:3em 2em 1.7em 2em;
  }

  .parent4 img {
    width: 95%;
    height: auto;
  }

  .cardcopy-justify-2 {
    padding: 2em 2em 2em 2em;
  }

  .next {
    padding: 0 0 0 1.5em;
    font-size: 1.5em;
  }

  .p1 {
    font-size: 1em;
    font-family: 'Nunito Sans', sans-serif;
    color: #FE12E7;
    line-height: 2em;
    text-align: center;
    padding: 2em 0 .25em 0;
    font-weight: bold;
  }

   .p2 {
    padding: 1em 0 2em 0;
    font-size: .95em;
    text-align: center;
  }

  .parent3 {
    width: 100%;
  }

  .intro {
    float: right;
    border: .10em solid #FE12E7;
    padding: 1.25em;
    border-radius: .125em;
    font-family: 'Roboto Slab', serif;
    font-size: .65em;
    margin: 2.5em 1em .5em 1em; 
  }
}


@media only screen and (max-width: 700px) and (min-width: 250px){

  .wrapper2 {
    padding: 8em 3.5em 0 2.5em;
    margin: 1em auto;
    text-align: left;
  }

  .wrapper {
    padding: 0 1em;
    margin: 3em auto;
    text-align: left;
  }

  .rapper {
    padding: 0;
    float: none;
  }

  h1 {
    font-size: 3.5em;
    text-align: left;
    padding-top: .5em;
  }

  h2 {
    font-size: 2em;
  }

  h4 {
    font-size: .95em;
  }

 .f1 {
    line-height: 1.5em;
    color: #fff;
    font-family: 'Roboto Slab', serif;
    font-size: 1em;
    text-align: center;
    margin: 3em;
    font-weight: 400;
    display: block;
  }

  .parent1 {
    float: none;
    width: 95%;
    height: auto;
    display: block;
    margin: 3em auto;
  }

  .parent2 {
    float: none;
    width: 95%;
    height: auto;
    display: block;
    margin: 3em auto;
  }

  .parent3 {
    float: none;
    width: 100%;
    height: auto;
    margin: 3em auto;
    display: block;
  }

  .parent4 {
    float: none;
    width: 95%;
    height: auto;
    display: block;
    margin: 3em auto;
    padding: 0;
  }

  .parent5 {
    float: none;
    width: 95%;
    height: auto;
    display: block;
    margin: 3em auto;
    padding: 0;
  }

  h3 {
    font-size: 1.5em;
    font-family: 'Nunito Sans Black', sans-serif;
    background-color: #57ECFE;
    opacity: .75;
    color: #fff;
    padding: .75em 1.5em;
    text-align: center;
  }

  img {
    padding: 2em 1em 2em 1em;
    width: 90%;
  }

  .cardcopy-bottompadding {
    padding: 3em 2em 0 2em;
    text-align: left;
    font-size: .8em;
  }

  .cardcopy-justify {
    padding:3em 2em 1.7em 2em;
    text-align: left;
    font-size: .8em;
  }

  .parent4 img {
    width: 90%;
    height: auto;
  }

   .cardcopy-justify-2 {
    padding: 2em 2em 2em 2em;
    text-align: left;
    font-size: .8em;
  }

  .next {
    padding: 0 0 0 1em;
    font-size: 1.25em;
  }

  .p1 {
    font-size: 1em;
    font-family: 'Nunito Sans', sans-serif;
    color: #FE12E7;
    line-height: 2em;
    text-align: center;
    padding: 2em 0 .25em 0;
    font-weight: bold;
  }

   .p2 {
    padding: 1em 0 3.5em 0;
    font-size: 1em;
    text-align: center;
  }

  .parent3 {
    width: 100%;
  }

  .intro {
    float: right;
    border: .10em solid #FE12E7;
    padding: 1.25em;
    border-radius: .125em;
    font-family: 'Roboto Slab', serif;
    font-size: .65em;
    margin: 2.5em 1em .5em 1em; 
  }

  .parent3p {
    font-size: .75em;
    font-family: 'Nunito Sans', sans-serif;
    color: #fff;
    line-height: 2em;
    text-align: center;
    width: 100%;
    padding-top: .5em;
  }

  h6 {
    font-size: .65em;
    font-family: 'georgia', serif;
    color: #fff;
    width: 100%;
    font-weight: lighter;
    padding: 1.5em 0;
    line-height: 1.75em;
    text-decoration: none;
    border: none;
  }

  .wrapper3 {
    padding: 2em 4em 2em 4em;
    margin: 0em auto;
    background-color: #FE12E7;
  }

  .h32 {
    font-size: 1.5em;
  }
}
